apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: go-crud-app-ingress
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-origin: "*"
    nginx.ingress.kubernetes.io/cors-allow-methods: "PUT, GET, POST, OPTIONS, DELETE"
    nginx.ingress.kubernetes.io/cors-allow-headers: "DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization"
    nginx.ingress.kubernetes.io/enable-access-log: "true"
    # Enable Prometheus metrics for the ingress itself
    # nginx.ingress.kubernetes.io/enable-opentelemetry: "true"
    # nginx.ingress.kubernetes.io/satisfy: "any"
    
    # nginx.ingress.kubernetes.io/auth-type: "basic"
    # nginx.ingress.kubernetes.io/enable-global-auth: "false"


    prometheus.io/scrape: "true"
    prometheus.io/port: "80"
    # prometheus.io/path: "/metrics"
    # prometheus.io/scheme: "http"
spec:
  rules:
  - host: arch.homework
    http:
      paths:
      - path: /api(/|$)(.*)
        pathType: ImplementationSpecific
        backend:
          service:
            name: go-crud-app-svc
            port:
              number: 80
      - path: /
        pathType: Prefix
        backend:
          service:
            name: go-crud-app-svc
            port:
              number: 80
      - path: /health
        pathType: Prefix
        backend:
          service:
            name: go-crud-app-svc
            port:
              number: 80

      - path: /metrics
        pathType: Prefix
        backend:
          service:
            name: go-crud-app-svc
            port:
              number: 80
